[Unit]
Description=Blackbox Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ blackbox_exporter_user }}
Group={{ blackbox_exporter_group }}
Type=simple
ExecStart={{ blackbox_exporter_bin }} \
        --config.file={{ blackbox_exporter_conf_dir }}/blackbox.yml

[Install]
WantedBy=multi-user.target
